<div class="currency-switcher-wrapper">
  <!-- Currency Trigger Button -->
  <div class="currency-trigger" #selectTrigger (click)="toggleDropdown($event)">
    <div class="selected-display" *ngIf="getSelectedCurrency(); else placeholder">
      <span class="currency-symbol">{{ getSelectedCurrency()?.currency_symbol }}</span>
    </div>
    
    <ng-template #placeholder>
      <div class="placeholder-display">
        <ion-icon name="cash-outline"></ion-icon>
        <span>اختر العملة</span>
      </div>
    </ng-template>
    
  </div>
</div>