<ion-list class="action-popover-list">
  <ion-item button (click)="selectAction('print')" class="action-item">
    <ion-icon name="print-outline" slot="start" class="action-icon"></ion-icon>
    <ion-label>طباعة</ion-label>
  </ion-item>
  
  <ion-item button (click)="selectAction('edit')" class="action-item">
    <ion-icon name="create-outline" slot="start" class="action-icon"></ion-icon>
    <ion-label>تعديل</ion-label>
  </ion-item>
  
  <ion-item button (click)="selectAction('copySales')" class="action-item">
    <ion-icon name="copy-outline" slot="start" class="action-icon"></ion-icon>
    <ion-label>نسخ كفاتورة مبيعات</ion-label>
  </ion-item>
  
  <ion-item button (click)="selectAction('copyPurchase')" class="action-item">
    <ion-icon name="copy-outline" slot="start" class="action-icon"></ion-icon>
    <ion-label>نسخ كفاتورة مشتريات</ion-label>
  </ion-item>
</ion-list>
